
 h2{
    text-align: center;
 }
 .ishuri{
    text-align: center;
 }
.hi{
    text-align: center;
}
.mainclass{
    display: flex;
    
}
.mainlab{
    display: flex;
}
.mainmedi{
display: flex;
}
.mainsport{
display: flex;
}
h1{
    text-align: center;
}
p{
    margin-left: 30px;
    font-size: medium;
}
h2{
    font-size: x-large;
    color: rgb(29, 101, 77);
}